@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
        <strong>Creator:</strong> <a>Alidar Asvarov</a><br />
        <div>

        </div>
        <strong>Contact:</strong> <a href="http://bmstu-kaluga.ru/">KB BMSTU</a><br />
</address>

