@model testMVC.Models.Room
@{
    ViewData["Title"] = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!--<table class="RoomTable" style="width:100%" border="1">
<table class="table table-­‐bordered table-­‐hover">
    <tr>
        <th>Number</th>
        <th>Status</th>
        <th>Type</th>
        <th>Capacity</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Occupied</td>
        <td>Standart</td>
        <td>4</td>
    </tr>
        <td>2</td>
        <td>Occupied</td>
        <td>Standart</td>
        <td>4</td>
        </tr>
</table>
    -->