@model IEnumerable<testMVC.Models.Room>
@{
    ViewData["Title"] = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rooms</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                @if (@room.IsOccupied == false)
                {
                    <td>@room.Number</td>
                    <td>@room.RoomType</td>
                    <td>@room.Price</td>
                }
            </tr>
        }
    </tbody>
</table>